<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" href="/css/style.css">
    <title>Pagina 3</title>
    <header>
        <nav>
            <a href="/page1.html">Home</a>
            <a href="/form/cadastro.html">Cadastra-se</a>
            <a href="/form/login.html">Login</a>
    <a href="./page2.html">Exemplos</a>
    <a href="./page3.html">Mobilidade urbana</a>
    <a href="./page4.html">Automação</a>
</nav>
</header>

</head>
<body>
    <h1>Automação</h1>
</body>
</html>