<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style/style6.css">
    <title>Página 6</title>
</head>
<body>
    <h2> <i> <b> Nodeste x Norte</b> </i></h2>
    <table border="2">
<th rowspan="11">Nordeste</th>
<tr>
        <th>Estados</th>
        <th>Capital</th>  

</tr>

        <tr>
        <td>Alagoas</td>     
        <td><i> Maceió</i></td>
        </tr> 
        <tr>
        <td>Pernambuco</td>
        <td><i> Recife </i></td>
    </tr>
        <tr>
        <td>Ceará</td>
        <td><i> Fortaleza </i></td>
    </tr>
        <tr>
        <td>Rio grande do norte</td>
        <td><i> Natal </i></td>
    </tr>
        <tr>
        <td>Sergipe</td>
        <td><i> Aracaju </i></td>
    </tr>
    <tr>
        <td>Bahia</td>
        <td><i> Salvador </i></td>
    </tr>
        <tr>
        <td>Piaui</td>
        <td><i>Teresina </i></td>
    </tr>
        <tr>
        <td>Maranhão</td>
        <td><i>São Luís </i></td>
    </tr>
    <tr>
        <td>Paraiba</td>
        <td><i> João pessoa </i></td>
    </tr>
    
    <th rowspan="8">Norte</th>

    <tr>
     <td>Acre</td>
     <td><i> Rio Branco </i></td>
    </tr>
    <tr>
    <td>Amapá</td>
    <td><i> Macapá </i></td>
</tr>
    <tr>
<td>Amazonas</td>
<td><i> Manaus </i></td>
    </tr>
    <tr>
        <td>Pará</td>
        <td><i>Belém </i></td>
    </tr>
    <tr>
        <td>Rondonia</td>
        <td><i> Porto velho </i></td>
    </tr>
    <tr>
        <td>Roraima</td>
        <td><i> Boa vista </i></td>
    </tr>
    <tr>
        <td>Tocantis</td>
        <td><i> Palmas </i></td>
    </tr> 
  
</body>
</html>