<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page 1</title>
</head>
<body>
    <h1>Café starbuzz</h1>
    <br>
    <h2>Mistura da casa, R$ 1,49</h2>
    <p>Uma mistura suave e delicada de cafés do México, Bolivia e Guatmala</p>
<br>
<h2>Café arábico com leite, R$ 2,35</h2>
<p>Expresso, leite fervido e xarope de chocolate</p>
<br>
<h2>Cappucino, R$ 1,89</h2>
<p>Uma mistura de expresso, leite e espuma</p>
<br>
</body>
</html>